[Unit]
Description=Sync nocblue sandbox SELinux policy
ConditionSecurity=selinux
ConditionPathExists=/usr/share/nocblue/selinux/sandbox-userns/nocblue_sandbox_userns.cil
After=local-fs.target
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nocblue-sync-sandbox-userns-selinux

[Install]
WantedBy=multi-user.target
