[Unit]
Description=Install nocblue baseline Homebrew formulae
Wants=network-online.target brew-setup.service
After=network-online.target brew-setup.service
ConditionPathExists=!/var/lib/nocblue/brew-formulae.stamp

[Service]
Type=oneshot
ExecStart=/usr/bin/nocblue-install-brew-formulae

[Install]
WantedBy=multi-user.target
