[Unit]
Description=Add local users to plugdev for OpenRazer
ConditionPathExists=/usr/bin/openrazer-daemon
After=local-fs.target systemd-sysusers.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nocblue-openrazer-plugdev

[Install]
WantedBy=graphical.target
