[Unit]
Description=Set nocblue default graphical session to niri
Wants=accounts-daemon.service
After=local-fs.target accounts-daemon.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nocblue-set-default-session

[Install]
WantedBy=graphical.target
