[Unit]
Description=Apply nocblue user defaults
Before=graphical-session-pre.target
ConditionUser=!@system
ConditionPathExists=!%h/.local/state/nocblue/user-defaults.v26.done

[Service]
Type=oneshot
ExecStart=/usr/bin/nocblue-apply-user-defaults
