[Unit]
Description=Collect unused Nix store paths
ConditionPathIsDirectory=/nix/store
ConditionUser=!root

[Service]
Type=oneshot
ExecStart=/usr/bin/nix store gc
